trunk/Exchange/Exchange/Web References/ua.com.pib.base.webaccess/Access.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="ReleaseSession">
        <s:complexType />
      </s:element>
      <s:element name="ReleaseSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRoles_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="task_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTaskRoles_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaskRolesResult" type="tns:ArrayOfStruct_Roles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Roles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_Roles" type="tns:Struct_Roles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_Roles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GROUP_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PODRID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABNUMBER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SITE_ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaskRoles2_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="task_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles2_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTaskRoles2_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles2">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRoles2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaskRoles2Result" type="tns:ArrayOfStruct_Roles2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Roles2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_Roles2" type="tns:Struct_Roles2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_Roles2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GROUP_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PODRID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABNUMBER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SITE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="REGION" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaskRoles3_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles3_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTaskRoles3_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles3">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRoles3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaskRoles3Result" type="tns:ArrayOfStruct_Roles3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Roles3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_Roles3" type="tns:Struct_Roles3" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_Roles3">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GROUP_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PODRID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABNUMBER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SITE_ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaskRoles4_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles4_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTaskRoles4_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles4">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRoles4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaskRoles4Result" type="tns:ArrayOfStruct_Roles4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Roles4">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_Roles4" type="tns:Struct_Roles4" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_Roles4">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GROUP_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PODRID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABNUMBER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SITE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="REGION" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaskRoles5_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles5_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTaskRoles5_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaskRoles5">
        <s:complexType />
      </s:element>
      <s:element name="getTaskRoles5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaskRoles5Result" type="tns:ArrayOfStruct_Roles5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_Roles5">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_Roles5" type="tns:Struct_Roles5" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_Roles5">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GROUP_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PODRID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABNUMBER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SITE_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ROLE_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROLE_DESCR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getUserParamsId_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="role_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="param_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserParamsId_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserParamsId_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserParamsId">
        <s:complexType />
      </s:element>
      <s:element name="getUserParamsIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserParamsIdResult" type="tns:ArrayOfStruct_UserParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStruct_UserParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Struct_UserParams" type="tns:Struct_UserParams" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Struct_UserParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="param_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="param_value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="param_mode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getUserParams_len">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="role_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserParams_lenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserParams_lenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserParams">
        <s:complexType />
      </s:element>
      <s:element name="getUserParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserParamsResult" type="tns:ArrayOfStruct_UserParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoUpdateCache">
        <s:complexType />
      </s:element>
      <s:element name="DoUpdateCacheResponse">
        <s:complexType />
      </s:element>
      <s:element name="getRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="podrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabnumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="site_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getRoleResult" type="tns:Struct_Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Struct_Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ROLE_ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaskUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="group_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskUrl">
        <s:complexType />
      </s:element>
      <s:element name="GetTaskUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskUrlResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskDeveloperInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="task_struct_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskDeveloperInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskDeveloperInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReleaseSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ReleaseSession" />
  </wsdl:message>
  <wsdl:message name="ReleaseSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles_len" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRolesSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles" />
  </wsdl:message>
  <wsdl:message name="getTaskRolesSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRolesResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles2_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles2_len" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles2_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles2_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles2SoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles2" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles2SoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles2Response" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles3_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles3_len" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles3_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles3_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles3SoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles3" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles3SoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles3Response" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles4_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles4_len" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles4_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles4_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles4SoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles4" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles4SoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles4Response" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles5_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles5_len" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles5_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles5_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles5SoapIn">
    <wsdl:part name="parameters" element="tns:getTaskRoles5" />
  </wsdl:message>
  <wsdl:message name="getTaskRoles5SoapOut">
    <wsdl:part name="parameters" element="tns:getTaskRoles5Response" />
  </wsdl:message>
  <wsdl:message name="getUserParamsId_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getUserParamsId_len" />
  </wsdl:message>
  <wsdl:message name="getUserParamsId_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getUserParamsId_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getUserParamsIdSoapIn">
    <wsdl:part name="parameters" element="tns:getUserParamsId" />
  </wsdl:message>
  <wsdl:message name="getUserParamsIdSoapOut">
    <wsdl:part name="parameters" element="tns:getUserParamsIdResponse" />
  </wsdl:message>
  <wsdl:message name="getUserParams_lenSoapIn">
    <wsdl:part name="parameters" element="tns:getUserParams_len" />
  </wsdl:message>
  <wsdl:message name="getUserParams_lenSoapOut">
    <wsdl:part name="parameters" element="tns:getUserParams_lenResponse" />
  </wsdl:message>
  <wsdl:message name="getUserParamsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserParams" />
  </wsdl:message>
  <wsdl:message name="getUserParamsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserParamsResponse" />
  </wsdl:message>
  <wsdl:message name="DoUpdateCacheSoapIn">
    <wsdl:part name="parameters" element="tns:DoUpdateCache" />
  </wsdl:message>
  <wsdl:message name="DoUpdateCacheSoapOut">
    <wsdl:part name="parameters" element="tns:DoUpdateCacheResponse" />
  </wsdl:message>
  <wsdl:message name="getRoleSoapIn">
    <wsdl:part name="parameters" element="tns:getRole" />
  </wsdl:message>
  <wsdl:message name="getRoleSoapOut">
    <wsdl:part name="parameters" element="tns:getRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskUsers" />
  </wsdl:message>
  <wsdl:message name="GetTaskUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskUrl" />
  </wsdl:message>
  <wsdl:message name="GetTaskUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskDeveloperInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskDeveloperInfo" />
  </wsdl:message>
  <wsdl:message name="GetTaskDeveloperInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskDeveloperInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AccessWebServiceSoap">
    <wsdl:operation name="ReleaseSession">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Немедленное завершения сеанся работы с Web Service</documentation>
      <wsdl:input message="tns:ReleaseSessionSoapIn" />
      <wsdl:output message="tns:ReleaseSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с идентификаторами ролей задачи, к которой подключен пользователь c использованием кода задачи task_id в web-справочнике</documentation>
      <wsdl:input message="tns:getTaskRoles_lenSoapIn" />
      <wsdl:output message="tns:getTaskRoles_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификаторы ролей пользователя задачи, к которой подключен пользователь c использованием кода задачи task_id из в web-справочника</documentation>
      <wsdl:input message="tns:getTaskRolesSoapIn" />
      <wsdl:output message="tns:getTaskRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles2_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с идентификаторами ролей задачи, к которой подключен пользователь c использованием кода задачи task_id из web-справочника</documentation>
      <wsdl:input message="tns:getTaskRoles2_lenSoapIn" />
      <wsdl:output message="tns:getTaskRoles2_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles2">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификаторы ролей задачи, к которой подключен пользователь c использованием кода задачи task_id из web-справочника. Возвращает также код региона</documentation>
      <wsdl:input message="tns:getTaskRoles2SoapIn" />
      <wsdl:output message="tns:getTaskRoles2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles3_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с идентификаторами ролей задачи, к которой подключен пользователь c использованием кода группы задач group_id</documentation>
      <wsdl:input message="tns:getTaskRoles3_lenSoapIn" />
      <wsdl:output message="tns:getTaskRoles3_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles3">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификаторы ролей задачи, к которой подключен пользователь c использованием кода группы задач group_id</documentation>
      <wsdl:input message="tns:getTaskRoles3SoapIn" />
      <wsdl:output message="tns:getTaskRoles3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles4_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с идентификаторами ролей задачи, к которой подключен пользователь c использованием кода задачи group_id</documentation>
      <wsdl:input message="tns:getTaskRoles4_lenSoapIn" />
      <wsdl:output message="tns:getTaskRoles4_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles4">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификаторы ролей задачи, к которой подключен пользователь c использованием кода задачи group_id. Возвращает также код региона</documentation>
      <wsdl:input message="tns:getTaskRoles4SoapIn" />
      <wsdl:output message="tns:getTaskRoles4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles5_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с идентификаторами ролей задачи, к которой подключен пользователь c использованием кода группы задач group_id</documentation>
      <wsdl:input message="tns:getTaskRoles5_lenSoapIn" />
      <wsdl:output message="tns:getTaskRoles5_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles5">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификаторы ролей задачи, к которой подключен пользователь c использованием кода группы задач group_id. Возвращает также название роли и ее описание</documentation>
      <wsdl:input message="tns:getTaskRoles5SoapIn" />
      <wsdl:output message="tns:getTaskRoles5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserParamsId_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива со значениями заданного параметра данного пользователя</documentation>
      <wsdl:input message="tns:getUserParamsId_lenSoapIn" />
      <wsdl:output message="tns:getUserParamsId_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserParamsId">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает все значения заданного параметра данного пользователя</documentation>
      <wsdl:input message="tns:getUserParamsIdSoapIn" />
      <wsdl:output message="tns:getUserParamsIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserParams_len">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает длину массива с параметрами данного пользователя</documentation>
      <wsdl:input message="tns:getUserParams_lenSoapIn" />
      <wsdl:output message="tns:getUserParams_lenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserParams">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает все параметры данного пользователя</documentation>
      <wsdl:input message="tns:getUserParamsSoapIn" />
      <wsdl:output message="tns:getUserParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateCache">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Принудительно обновляет данные в кэше программы</documentation>
      <wsdl:input message="tns:DoUpdateCacheSoapIn" />
      <wsdl:output message="tns:DoUpdateCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает идентификатор роли пользователя задачи, к которой подключен пользователь c использованием кода задачи task_id из в web-справочника</documentation>
      <wsdl:input message="tns:getRoleSoapIn" />
      <wsdl:output message="tns:getRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает список подключенных к задаче пользователей, входным параметром является код группы задачи; возвращает DataSet, таблица 'users' которого содержит список пользователей</documentation>
      <wsdl:input message="tns:GetTaskUsersSoapIn" />
      <wsdl:output message="tns:GetTaskUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskUrl">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает список адресов (URL) зарегистрированных WEB-задач; возвращает DataSet, таблица 'TaskUrl' которого содержит список</documentation>
      <wsdl:input message="tns:GetTaskUrlSoapIn" />
      <wsdl:output message="tns:GetTaskUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskDeveloperInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Получает список разработчиков зарегистрированных WEB-задач, входным параметром является структуированный код задачи (например, '3.10.2.'); возвращает DataSet, таблица 'TaskDeveloperInfo' которого содержит список</documentation>
      <wsdl:input message="tns:GetTaskDeveloperInfoSoapIn" />
      <wsdl:output message="tns:GetTaskDeveloperInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessWebServiceSoap" type="tns:AccessWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReleaseSession">
      <soap:operation soapAction="http://tempuri.org/ReleaseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles_len">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles2_len">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles2_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles2">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles3_len">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles3_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles3">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles4_len">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles4_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles4">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles5_len">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles5_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskRoles5">
      <soap:operation soapAction="http://tempuri.org/getTaskRoles5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserParamsId_len">
      <soap:operation soapAction="http://tempuri.org/getUserParamsId_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserParamsId">
      <soap:operation soapAction="http://tempuri.org/getUserParamsId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserParams_len">
      <soap:operation soapAction="http://tempuri.org/getUserParams_len" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserParams">
      <soap:operation soapAction="http://tempuri.org/getUserParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateCache">
      <soap:operation soapAction="http://tempuri.org/DoUpdateCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap:operation soapAction="http://tempuri.org/getRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskUsers">
      <soap:operation soapAction="http://tempuri.org/GetTaskUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskUrl">
      <soap:operation soapAction="http://tempuri.org/GetTaskUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskDeveloperInfo">
      <soap:operation soapAction="http://tempuri.org/GetTaskDeveloperInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web-сервис для 'Системы управления доступом к задачам'</documentation>
    <wsdl:port name="AccessWebServiceSoap" binding="tns:AccessWebServiceSoap">
      <soap:address location="http://webaccess.base.pib.com.ua/AccessService/Access.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>